#spacer {
	margin-top: 80px;
}

.text-center {
	text-align: center;
}

.popup {
	background-color: #888;
}

html, body {
	background-color: #333 !important;
}

body {
	font-family: HelveticaNeue-Light;
	color: #eee;
}

body h1, body h2, body h3, body h4, body h5 {
	color: #eee;
}

.highlight {
	fill: yellow;
}

.map {
  position: fixed;
  top: 0;
  left: -100px;
  width: 100%;
  height: 100%;
}

.list-view.ng-enter, .list-view.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
  max-height: 0;
}

.list-view.ng-enter.ng-enter-active,
.list-view.ng-move.ng-move-active {
  opacity:1;
  max-height: 100px;
}

.panel-body img {
	max-width: 600px;
}

.panel.ng-show {

}

.panel {
  opacity: 1;
}

.panel.ng-hide-add.ng-hide-add-active,
.panel.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.panel.ng-hide {
  opacity: 0;
}