<!DOCTYPE html>
	<html>
	<head>
		<meta charset='utf-8'>
		<title>Searchable Mall Directory</title>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	    <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" charset="utf-8">
	    <link type="text/css" rel="stylesheet" href="css/index.css" charset="utf-8">
	    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" charset="utf-8">
	</head>
    <body ng-app="SearchableMall">
        <div ng-controller='SearchableController'>
	        <div id='spacer'></div>
            <div class='container' style='width: 1400px'>
	            <h2>Fashion Centre @ Pentagon City</h2>
            	<div class='row'>
					<div ng-show='showPanel' class='col-md-8' id='details-panel'>
						<div class="panel" ng-show='showPanel' class='col-md-10' ng-click='showPanel=false;'>
							<div class='panel panel-default'>
								<div class="panel-heading">
									<span style="font-size: 18pt">{{ panelObject.store }}</span>
								</div>
								<div class="panel-body">
									<div class='row'>
										<div class='col-md-6'>
											<img class='details-image' ng-src='{{panelObject.image}}'/>
										</div>
										<div class='col-md-6'>
											<p>{{ panelObject.details }}</p>
											<p><i class='fa-clock-o fa'></i> {{ panelObject.hours }}</p>
											<div>
												<span ng-repeat='category in panelObject.categories'>
													<i class='fa fa-tag'></i>
													{{ category }}
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

            		<div ng-hide='showPanel' class='col-md-9'>
						<div class='row'>
							<div class='col-md-6'>
								<div ng-include="'images/SearchBoxx_Metro_Level.svg'"></div>
							</div>
							<div class='col-md-6'>
								<div ng-include="'images/SearchBoxx_Ground_Level.svg'"></div>
							</div>
						</div>
						<div class='row'>
							<div class='col-md-6'>
								<div ng-include="'images/SearchBoxx_Second_Level.svg'"></div>
							</div>
							<div class='col-md-6'>
								<div ng-include="'images/SearchBoxx_Third_Level.svg'"></div>
							</div>
						</div>						
            		</div>

					<div class='col-md-3' ng-class="{'col-md-offset-1': showPanel}">
					    <div class='text-center row'>
							<h4>Search</h4>
							<form class="form-group" role="form">
								<div class="input-group">
									<span class="input-group-addon" id="sizing-addon1">
										<i class="fa fa-search"></i>
									</span>
									<input type="text" class="input-lg form-control" ng-model="query" placeholder="Search a product or store..." autofocus>
								</div>
							</form>
						</div>
						<div class='text-center row'>
							<h4>Results ({{ results.length | filter:greaterThanOrEqual(score, queryWords.length)  }})</h4>
							<div class='panel panel-default list-view' ng-repeat="item in results | filter:greaterThanOrEqual('score', queryWords.length) | orderBy: '-score'">
								<div class='panel-body' ng-click='openDetails(item)'>
									{{ item.store }}
								</div>
							</div>
						</div>
					</div>
        		</div>
    		</div>

		</div>
	</body>
</html>
