<!DOCTYPE html>
	<html>
	<head>
		<title>Searchable Mall Directory</title>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	    <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" charset="utf-8">
	    <link type="text/css" rel="stylesheet" href="css/index.css" charset="utf-8">
	    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" charset="utf-8">
	</head>
	<body ng-app="SearchableMall">
		<div class='map'>
			<div ng-include="'images/map.svg'"></div>
		</div>
		<div class='container'>
			<div id='spacer' class='row'></div>
			<div class='row'>
				<div class='col-md-9'>
					<h3>Crystall City Mall, Arlington, VA</h3>
				</div>
				<div class='col-md-3' ng-controller="SearchableController">
					<div class='text-center row'>
						<h4>Search</h4>
						<form class="form-group" role="form">
							<div class="input-group">
							  <span class="input-group-addon" id="sizing-addon1">
								  <i class="fa fa-search"></i>
							  </span>
							<input type="text" class="input-lg form-control" ng-model="query" placeholder="Enter keywords">

							</div>
						</form>
					</div>
					<div class='text-center row'>
						<h4>Results ({{ results_count }})</h4>
						<div class='panel panel-default' ng-repeat="item in results">
							<div class='panel-body'>
								{{ item.store }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>